@use "sass:map";

$theme-types: "light-theme", "dark-theme";

// -----------------------------------------------------------------------------
// Light theme — HSL channels
// -----------------------------------------------------------------------------

$theme-system-light: () !default;
$theme-system-light: (
  "ls": (
    "base": "27.27 35% 94%",
    "dark": "27 36% 89%",
    "darker": "27 36% 82%",
  ),

  "da": (
    "base": "30 50% 50%",
    "dark": "30 50% 40%",
  ),

  "ds": (
    "base": "0 1% 24%",
  ),
  "default": (
    "400": "30 50% 59%",
    "500": "30 50% 50%",
    "600": "30 50% 40%",
  ),

  "text": (
    "primary": "0 1% 24%",
    "regular": "213.16 31% 28%",
    "placeholder": "222 6% 68%",
  ),
  "shadow": (
    "base": "0 0% 0%",
    "light": "0 0% 8%",
  ),

  "bg": (
    "base": "27.27 35% 99%",
    "card": "27.27 35% 99%",
  ),

  "border": (
    "base": "222 17% 88%",
  ),

  "icon": (
    "base": "30 50% 50%",
  ),
);

// -----------------------------------------------------------------------------
// Dark theme — HSL channels
// -----------------------------------------------------------------------------

$theme-system-dark: () !default;
$theme-system-dark: (
  "ls": (
    "base": "0 0% 12%",
    "dark": "0 0% 15%",
    "darker": "0 0% 19%",
  ),

  "da": (
    "base": "0 0% 54%",
    "dark": "0 0% 50%",
  ),

  "ds": (
    "base": "0 0% 15%",
  ),

  "default": (
    "400": "0 0% 92%",
    "500": "0 0% 82%",
    "600": "0 0% 72%",
  ),

  "text": (
    "regular": "0 0% 84%",
    "primary": "0 0% 96%",
    "placeholder": "0 0% 50%",
  ),

  "shadow": (
    "base": "0 0% 0%",
    "light": "0 0% 8%",
  ),

  "bg": (
    "base": "0 0% 18%",
    "card": "0 0% 16%",
  ),

  "border": (
    "base": "0 0% 30%",
  ),

  "icon": (
    "base": "0 0% 80%",
  ),
);

$themes: () !default;
$themes: (
  "light-theme": $theme-system-light,
  "dark-theme": $theme-system-dark,
);
